@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
    // Koristim promenjive za pozivanje SignInManager servisa i za proveru da li je ulogovani korisnik 'radnik'
    // Odnosno administrator ili dostavljač
    // Ovako nešto radim samo da bi održao čistoću koda iako ovo nije potrebno iz razloga što su navedene metode veoma brze same za sebe
    bool isAuthenticated = SignInManager.IsSignedIn(User);
    bool isStaff = !User.IsInRole("User") && isAuthenticated;
    bool isAdmin = User.IsInRole("Admin");
    bool isDelivery = User.IsInRole("Delivery");
}

<header class=" text-white fixed z-50 flex flex-col w-full justify-center items-center">
    <div id="navbar" class="w-full transition-all duration-200 ease-in-out">
        <nav class="flex mx-auto items-center justify-between sm:justify-center lg:w-[50%]">
            <button type="button" id="navbar-open" class="ml-2 text-2xl sm:hidden hover:text-red-200 duration-200">
                <i class="fa-solid fa-bars"></i>
            </button>
            <a asp-controller="Home" asp-action="Index" class="sm:mr-auto ml-[20.5px] sm:ml-0 p-3 hover:opacity-80 duration-200"><img src="~/AppImages/Logo bez pozadine.png" alt="Logo" class="brightness-200 max-w-32 rounded-full"/></a>
            <ul class="text-lg hidden sm:flex">
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="mx-2 hover:text-red-200 duration-200">Početna</a></li>
                <li><a asp-area="" class="mx-2 hover:text-red-200 duration-200">O nama</a></li>
                <li><a asp-area="" asp-controller="Catalogue" asp-action="Index" class="mx-2 hover:text-red-200 duration-200">Asortiman</a></li>
                <li><a asp-area="" asp-controller="Contact" asp-action="Index" class="mx-2 hover:text-red-200 duration-200">Kontakt</a></li>
            </ul>
            <div class="sm:ml-auto flex gap-4 mr-2">
                <button id="searchButton" type="button" class="text-xl md:text-lg  hover:text-red-200 duration-200">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button
                    data-menu="@(isAuthenticated ? "profile-open" : "auth-open")" class="@(isAuthenticated ? "hidden" : "block") @(isStaff ? "hidden" : "sm:block") text-xl md:text-lg hover:text-red-200 duration-200"><i class="fa-regular fa-user"></i></button>
                <a asp-area="@(isAdmin ? "Admin" : "Delivery")" asp-controller="Dashboard" asp-action="Index" class="@(isStaff ? "block" : "hidden") text-xl md:text-lg hover:text-red-200 duration-200"><i class="fa-solid fa-user-gear"></i></a>
        
                
                
                @if (isAuthenticated && !isStaff)
                {
                    <a href="#" class="fw-bolder text-xl md:text-lg ">
                        <i class="fa-solid fa-cart-shopping text-green-400 transition-all hover:text-green-600 duration-600"></i>
                    </a>
                    <a href="#" class="hidden sm:block fw-bolder text-xl md:text-lg ">
                        <i class="fa-solid fa-bell text-yellow-400 transition-all hover:text-yellow-600 duration-600"></i>
                    </a>
                }
                else if (isAuthenticated && isStaff)
                {
                    <form class="hidden sm:block" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="fw-bolder text-xl md:text-lg hover:opacity-60 duration-200">
                            <i class="bi bi-door-closed-fill text-red-200"></i>
                        </button>
                    </form>
                }
                
            </div>
        </nav>
        <div id="searchBar" class="transition-all transform h-0 invisible  px-2 md:px-0 w-[75%] flex mx-auto items-center justify-center sm:justify-center self-center content-center duration-300  lg:w-[40%]">
            <div id="searchInput" class="transition-all opacity-0 flex shadow-xl mx-auto w-full justify-center duration-200">
                <div class="inline bg-red-400 rounded-l-xl py-2 w-[15%] md:w-[5%] text-center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" class="border-none inline outline-none pl-2 py-2 text-black rounded-r-xl w-[95%]" placeholder="Pretraži proizvod...">
            </div>
        </div>
        
    </div>
    
    
    <div id="mobile-navbar" class=" md:hidden fixed top-0 left-0 h-screen w-full z-20 shadow-2xl backdrop-blur-3xl transform -translate-x-full transition-all duration-300">
        <nav class="flex flex-col h-full p-3 pb-1 sm:hidden relative">
            <div class="flex justify-between items-center content-center border-b border-b-red-100 mb-1">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="hover:opacity-80 duration-200 mb-4">
                    <img src="~/AppImages/Logo bez pozadine.png" alt="Logo" class="brightness-200 w-36 rounded-full mx-auto" />
                </a>
                <button type="button" id="navbar-close" class="text-3xl pb-1 sm:hidden hover:text-red-200 duration-200">
                    <i class="fa-solid fa-close"></i>
                </button>
            </div>

            <ul class="text-lg flex flex-col w-full space-y-1 text-center justify-center ">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-orange-500/10">
                        <i class="fa-solid fa-house mr-5 text-white transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-orange-300"></i>
                        <span class="transition-colors duration-300 group-hover:text-orange-200">Početna</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-orange-500/10">
                        <i class="fa-solid fa-users-rectangle mr-5 text-white transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-orange-300"></i>
                        <span class="transition-colors duration-300 group-hover:text-orange-200">O nama</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Catalogue" asp-action="Index" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-orange-500/10">
                        <i class="fa-solid fa-table mr-5 text-white transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-orange-300"></i>
                        <span class="transition-colors duration-300 group-hover:text-orange-200">Asortiman</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Contact" asp-action="Index" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-orange-500/10">
                        <i class="fa-solid fa-address-card mr-5 text-white transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-orange-300"></i>
                        <span class="transition-colors duration-300 group-hover:text-orange-200">Kontakt</span>
                    </a>
                </li>
                @if (isAuthenticated && !isStaff)
                {
                    <li>
                        <a asp-area="" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-green-500/10">
                            <i class="fa-solid fa-cart-shopping mr-5 text-green-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-green-300"></i>
                            <span class="transition-colors duration-300 group-hover:text-green-200">Korpa</span>
                        </a>
                    </li> 
                    
                    <li>
                        <a asp-area="" class="group flex items-center mx-2 py-2 px-3 rounded-lg transition-all duration-300 hover:bg-yellow-500/10">
                            <i class="fa-solid fa-bell mr-5 text-yellow-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-yellow-300"></i>
                            <span class="transition-colors duration-300 group-hover:text-yellow-200">Notifikacije</span>
                        </a>
                    </li> 
                }
                
            </ul>

            <ul class="text-lg flex flex-col w-full mt-auto space-y-1">
                @if (!isAuthenticated)
                {
                    <li>
                        <button data-menu="auth-open" hx-get="/Account/Login" hx-target="#auth-menu" hx-swap="innerHTML" class="group flex items-center px-5 py-2 rounded-lg transition-all duration-300 hover:bg-yellow-500/10">
                            <i class="fa-solid fa-right-to-bracket mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-yellow-300"></i>
                            <span class="transition-colors duration-300 text-orange-200 group-hover:text-yellow-200">Prijava</span>
                        </button>
                    </li>
                    <li>
                        <button data-menu="auth-open" hx-get="/Account/Register" hx-target="#auth-menu" hx-swap="innerHTML" class="group flex items-center px-5 py-2 rounded-lg transition-all duration-300 hover:bg-blue-500/10">
                            <i class="fa-solid fa-user-plus mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-blue-300"></i>
                            <span class="transition-colors duration-300 text-orange-200 group-hover:text-blue-200">Registracija</span>
                        </button>
                    </li>
                }
                else
                {
                    <li>
                        
                        @if (!isStaff)
                        {
                            <button data-menu="profile-open" class="group flex items-center w-full px-5 py-2 rounded-lg transition-all duration-300 hover:bg-green-500/10">
                                <i class="fa-solid fa-user mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-yellow-300"></i>
                                <span class="transition-colors duration-300 group-hover:text-yellow-200">Nalog</span>
                            </button>
                        }
                        else if (isAdmin)
                        {
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="group flex items-center w-full px-5 py-2 rounded-lg transition-all duration-300 hover:bg-green-500/10">
                                <i class="fa-solid fa-user-gear mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-yellow-300"></i>
                                <span class="transition-colors duration-300 group-hover:text-yellow-200">Administracija</span>
                            </a>
                        }
                        else if(isDelivery)
                        {
                            <a asp-area="Delivery" asp-controller="Dashboard" asp-action="Index" class="group flex items-center w-full px-5 py-2 rounded-lg transition-all duration-300 hover:bg-green-500/10">
                                <i class="fa-solid fa-user-gear mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-yellow-300"></i>
                                <span class="transition-colors duration-300 group-hover:text-yellow-200">Dostavljački panel</span>
                            </a>
                        }
                    </li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="group flex w-full items-center px-5 py-2 rounded-lg transition-all duration-300 hover:bg-blue-500/10">
                                <i class="bi bi-door-closed-fill mr-5 text-orange-400 transition-transform duration-300 group-hover:-translate-y-0.5 group-hover:text-blue-300"></i>
                                <span class="transition-colors duration-300  group-hover:text-blue-200">Odjava</span>
                            </button>
                        </form>
                        
                    </li>
                }
            </ul>
        </nav>
    </div>
    
    @if (isAuthenticated && !isStaff)
    {
        <div id="profile-menu" class="fixed top-0 right-0 h-screen w-screen sm:w-[300px] bg-red-900/85 shadow-all translate-x-full backdrop-blur-xl transition-all duration-200 z-50">
                
            @await Component.InvokeAsync("ProfileMenu")
                
        </div>  
    }
    else if (!isAuthenticated)
    {
        <div id="auth-menu" class="fixed top-0 right-0 h-screen w-screen sm:w-[300px] bg-red-900/85 shadow-all translate-x-full backdrop-blur-xl transition-all duration-200 z-50">
            
            @await Component.InvokeAsync("Login")
            
        </div>  
    }
     
    
</header>
