@using FlowerShop.ViewModels.Components
@model SettingsPageViewModel

@{
    ViewBag.Disabled = string.IsNullOrEmpty(@Model.ProfileVm.ImagePath);
}

<div class="flex py-5 gap-5">
    <form hx-post="/Account/UpdateProfile"
          hx-target="#user-content"
          hx-swap="innerHTML"
          enctype="multipart/form-data"
          class="w-full">
        <input type="hidden" asp-for="ProfileVm.FullNameInitials"/>
        <input type="hidden" asp-for="ProfileVm.ImagePath"/>
        <div class="flex flex-col w-[95%] mx-auto gap-5">
            <div class="flex flex-col shadow-xl bg-red-100 rounded-xl transition-all duration-200 hover:-translate-y-1">
                <div class=" text-red-100 gradient-red top-0 px-4 py-2 left-0 rounded-t-xl w-full">
                    <h4 class="text-red-100">
                        <i class="fa-solid fa-gear mr-2"></i>
                        Podešavanje i informacije o nalogu
                    </h4>
                </div>
                <div class="flex flex-col p-5 px-16 ">

                    <div class="pb-2 border-b border-red-900 w-full"></div>

                    <div class="flex flex-col w-full py-6">
                        <div class="flex justify-between">

                            <div class="flex gap-5 w-full">
                                <div class="shadow-xl w-32 h-32 font-bold bg-orange-400 text-red-100 rounded-full flex items-center justify-center text-3xl">
                                    @if (!string.IsNullOrEmpty(Model.ProfileVm.ImagePath))
                                    {
                                        <div>
                                            <img id="profile-picture" class="h-32 rounded-full object-fit w-32" src="@Model.ProfileVm.ImagePath" alt=""/>
                                        </div>
                                    }
                                    else
                                    {
                                        @Model.ProfileVm.FullNameInitials
                                        
                                    }
                                </div>

                                <div class="flex flex-col self-center">
                                    <h4 class="text-lg font-semibold text-red-900">Profilna slika</h4>
                                    <p class="text-gray-600">Formati: PNG, JPG, JPEG</p>
                                    <span asp-validation-for="ProfileVm.ProfilePicture" class="text-red-700 font-medium mt-1"></span>
                                    @if (TempData["Success"] is not null)
                                    {
                                        <span class="text-green-700 font-semibold">@TempData["Success"]</span>
                                    }
                                    else if (TempData["Error"] is not null)
                                    {
                                        <span class="text-red-700 font-semibold">@TempData["Success"]</span>

                                    }
                                </div>

                                <div class="flex self-center ml-auto gap-5">
                                    <input asp-for="ProfileVm.ProfilePicture" type="file" accept="image/jpg, image/jpeg, image/png" class="hidden" >
                                    <label asp-for="ProfileVm.ProfilePicture" class="btn-classic gradient-red text-red-100 !px-4 text-sm">Promeni sliku</label>

                                    <button hx-get="/Account/RemoveProfilePicture"
                                       hx-target="#user-content"
                                       hx-swap="innerHTML"
                                       id="delete-pic-btn" type="submit" class="btn-classic bg-gray-400 text-white !px-4 text-sm @(ViewBag.Disabled != null && ViewBag.Disabled ? "opacity-50 pointer-events-none" : "")">Obriši sliku</button>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="flex flex-col w-full py-5">
                        <h4 class="text-xl font-semibold text-red-900 mb-2">Puno ime</h4>
                        <div class="flex justify-between">
                            <div class="flex gap-10 w-full">
                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ProfileVm.FirstName" class="font-semibold text-gray-600">Ime</label>
                                        <span asp-validation-for="ProfileVm.FirstName" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="text" asp-for="ProfileVm.FirstName" placeholder="Pera" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                </div>

                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ProfileVm.LastName" class="font-semibold text-gray-600">Prezime</label>
                                        <span asp-validation-for="ProfileVm.LastName" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="text" asp-for="ProfileVm.LastName" placeholder="Perić" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
              
                                </div>

                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ProfileVm.UserName" class="font-semibold text-gray-600">Korisničko ime</label>
                                        <span asp-validation-for="ProfileVm.UserName" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="text" asp-for="ProfileVm.UserName" placeholder="Perić" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class=" border-b border-red-900 w-full"></div>

                    <div class="flex flex-col w-full py-5">
                        <h4 class="text-xl font-semibold text-red-900 mb-2">Kontakt podaci</h4>
                        <div class="flex justify-between">
                            <div class="flex gap-10 w-full">
                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ProfileVm.Email" class="font-semibold text-gray-600">Email adresa</label>
                                        <span asp-validation-for="ProfileVm.Email" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="text" asp-for="ProfileVm.Email" placeholder="Pera" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                    <span asp-validation-for="ProfileVm.Email" class="text-red-200 text-sm font-medium mt-1 text-center"></span>
                                </div>

                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ProfileVm.PhoneNumber" class="font-semibold text-gray-600">Telefon</label>
                                        <span asp-validation-for="ProfileVm.PhoneNumber" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="text" asp-for="ProfileVm.PhoneNumber" placeholder="Perić" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class=" border-b border-red-900 w-full"></div>

                    <div class="flex flex-col w-full py-5">
                        <h4 class="text-xl font-semibold text-red-900 mb-2">Promena lozinke</h4>
                        <div class="flex justify-between">
                            <div class="flex gap-10 w-full">
                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ChangePasswordVm.CurrentPassword" class="font-semibold text-gray-600">Trenutna lozinka</label>
                                        <span asp-validation-for="ChangePasswordVm.CurrentPassword" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="password" class="hidden">
                                    <input type="password" asp-for="ChangePasswordVm.CurrentPassword" placeholder="********" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200" autocomplete="false">
                                </div>

                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ChangePasswordVm.NewPassword" class="font-semibold text-gray-600">Nova lozinka</label>
                                        <span asp-validation-for="ChangePasswordVm.NewPassword" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="password" asp-for="ChangePasswordVm.NewPassword" placeholder="********" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                </div>

                                <div class="flex flex-col gap-1 w-full">
                                    <div class="flex flex-wrap justify-between w-full items-center">
                                        <label asp-for="ChangePasswordVm.ConfirmPassword" class="font-semibold text-gray-600">Potvrda lozinke</label>
                                        <span asp-validation-for="@Model.ChangePasswordVm.ConfirmPassword" class="text-red-700 font-medium mt-1"></span>
                                    </div>
                                    <input type="password" asp-for="ChangePasswordVm.ConfirmPassword" placeholder="********" class="text-red-900 font-semibold w-full p-2 border-2 shadow-2xl transition-all bg-red-200 placeholder-gray-500 border-red-500 rounded-md focus:outline-none focus:ring-4 focus:ring-red-400 focus:border-red-200">
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <button type="submit" class="btn-classic text-white bg-green-500 w-[200px] mx-auto">Sačuvaj</button>


                </div>
            </div>



        </div>
    </form>
    
    
</div>

<script>
    
    
    
</script>